# generated stuff
build
.git
.github
src/**/*.d.ts
src/**/*.md
src/assets
src/blockchain/abis
src/shopify/graphql/types
src/**/*.json
src/**/*.jpeg
src/**/*.png
src/**/*.webm
src/**/*.svg
src/**/*.ttf
# public
public/index.html

#configs
*.config.js

# readme
README.md

# Every commit this is changed. NO MORE!
.prettier.rc
.yarn.rc
tsconfig.json
tsconfig.*.json
.eslintrc.json

# local stuff
.yalc
.vscode